/* The Top row title and edit icon */
.top-row {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.title-container {
  flex: 1; 
}

/* Edit and Delete Icons */
.edit-enabled {
  cursor: pointer; /* Change the cursor to a pointer when enabled */
}

.edit-disabled {
  cursor: pointer;
  color: gray; /* Change the color when disabled */
}

.delete-enabled {
  cursor: pointer; /* Change the cursor to a pointer when enabled */
}

.delete-disabled {
  cursor: not-allowed; /* Use the not-allowed cursor when disabled */
  pointer-events: none; /* Disable pointer events when disabled */
  opacity: 0.5; /* Apply some opacity to indicate it's disabled */
  color: white;
}

/* CSS for the parent container */
.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

/* In your CSS file */
.local-budget {
  background-color: #fffee0; /* Light yellow */
}

