/* The Top row title and edit icon */
.top-row {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

.title-container {
  flex: 1; 
}

.edit-enabled {
  cursor: pointer; 
}

.edit-disabled {
  cursor: pointer;
  color: gray; 
}

.delete-enabled {
  cursor: pointer; 
}

.delete-disabled {
  cursor: not-allowed; 
  pointer-events: none; 
  opacity: 0.5; 
  color: white;
}

.local-budget {
  background-color: #fffee0; 
}

.editable-budget {
  border: 1px solid #007BFF; /* Add a blue border */
  background-color: #E5F4FF; 
}
